<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Aplikacja Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<h1 style="text-underline: blue; text-align: center">Witaj w...</h1>
<img th:src="@{/images/earth.png}" th:height="200"  width="200" style=""/>
<div>Napis pod obrazkiem</div>
<div><a th:href="@{/design}">Zamów /taco</a></div>
<div><a href="/design">Zamów /taco</a></div>
</body>
</html>